VITE_SUPABASE_URL=https://atzomqicwjufuxhfexxd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0em9tcWljd2p1ZnV4aGZleHhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxODU1MjQsImV4cCI6MjEwMTc2MTUyNH0.DsaPA-MJG0iO6ABw-oW1Dtg6910HVtpEBak4FdiXYIE